body {
    background-color: rgb(72, 133, 193);
}

/* NAVBAR */

/* Center the navbar items horizontally */
.navbar-nav {
    display: flex;
    justify-content: center; /* Centers the nav items */
    width: 100%;
}

/* Increase the font size of navbar links */
.navbar-nav .nav-link {
    font-size: 1.25rem; /* Adjust as needed */
}


/* Optional: Add some padding to the navbar items */
.navbar-nav .nav-item {
    padding-left: 2vw;
    padding-right: 2vw;
}

/* INTRODUÇÃO */

.intro {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    height: 100vh;
    /* border: solid greenyellow; */
}

.photo {
    /* borda ao redor da foto */
    width: 36rem;
    height: 36rem;
    background-color: rgb(14, 39, 63);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1vh 10vw 1vh 10vw;
}

.photo img {
    width: 32rem;
    height: 32rem;
    object-fit: cover;
    border-radius: 50%;
    /* border: solid rebeccapurple;  */
}

.desc {
    /* border-style: solid; */
    /* border-color: coral; */
    width: 90%;
    font-size: 1vw;
    text-align: center;
}

/* MAIN */


.main {
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-areas: 
    "about-me lang tech"
    "work work education";
    padding: 2.5rem;
    gap: 65px;
    /* border: solid crimson; */
    /* background-color: #2e73e1; */
}

.main .about-me {
    width: 55vw;
    padding: 50px;
    padding-top: 1vh;
    border: solid rgb(14, 39, 63);
    background-color: rgb(151, 200, 246);
}

.main .lang {
    width: 16vw;
    padding: 25px;
    border: solid rgb(14, 39, 63);
    background-color: rgb(151, 200, 246);
    
    .li1 {
        background: url('https://img.icons8.com/fluency/48/ruby-programming-language.png') 0 50% no-repeat;
        padding-left: 30px;
        background-size: 20px 20px;
        list-style: none;
    }

    .li2 {
        background: url('https://img.icons8.com/color/48/javascript--v1.png') 0 50% no-repeat;
        padding-left: 30px;
        background-size: 20px 20px;
        list-style: none;
    }

    .li3 {
        background: url('https://img.icons8.com/color/48/python--v1.png') 0 50% no-repeat;
        padding-left: 30px;
        background-size: 20px 20px;
        list-style: none;
    }
}

.main .tech {
    width: 16vw;
    padding: 25px;
    border: solid rgb(14, 39, 63);
    background-color: rgb(151, 200, 246);

    .fr1 {
        background: url('https://img.icons8.com/external-tal-revivo-color-tal-revivo/24/external-rails-a-server-side-web-application-framework-written-in-ruby-logo-color-tal-revivo.png') 0 50% no-repeat;
        padding-left: 30px;
        background-size: 20px 20px;
        list-style: none;
    }
    
    .fr2 {
        background: url('https://img.icons8.com/fluency/48/node-js.png') 0 50% no-repeat;
        padding-left: 30px;
        background-size: 20px 20px;
        list-style: none;
    }
    
    .fr3 {
        background: url('https://img.icons8.com/color/48/pandas.png') 0 50% no-repeat;
        padding-left: 30px;
        background-size: 20px 20px;
        list-style: none;
    }
    .fr4 {
        background: url('https://img.icons8.com/fluency/48/docker.png') 0 50% no-repeat;
        padding-left: 30px;
        background-size: 20px 20px;
        list-style: none;
    }
    .fr5 {
        background: url('https://img.icons8.com/color/48/mysql-logo.png') 0 50% no-repeat;
        padding-left: 30px;
        background-size: 20px 20px;
        list-style: none;
    }
    .fr6 {
        background: url('https://img.icons8.com/color/48/git.png') 0 50% no-repeat;
        padding-left: 30px;
        background-size: 20px 20px;
        list-style: none;
    }

}

.main .education {
    padding: 50px;
    padding-top: 1vh;
    grid-column: span 2;
    border: solid rgb(14, 39, 63);
    background-color: rgb(151, 200, 246);
}

.main .work {
    display: grid;
    /* grid-column: span 2; */
    width: auto;
    gap: 1vh;
    /* top right bottom left */
    /* padding: 3vh 0 1vh 1vw;  */
    padding: 50px;
    padding-top: 1vh;
    border: solid rgb(14, 39, 63);
    background-color: rgb(151, 200, 246);
}

.main2 {
    display: grid;
    grid-template-columns: auto;
    width: auto;
    padding: 40px;
    gap: 65px;
    border: solid #fa8714;
    background-color: #4ee8dd;
}

footer .contato {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px 5%;

    img {
        width: 4vw;
        height: 4vh;
        object-fit: contain;
    }
}
