body {
    background-color: slateblue;
}

.about {
    display: grid;
    grid-template-areas: 
    "photo desc";
    grid-template-columns: 1fr 2fr;

    align-items: center;
    justify-content: center;
    /* background-color: #dd0d4b; */
    overflow: hidden;
}

.photo > img {
    padding: 100px;
    border-radius: 60%;
}

/* 
.photo {
    height: 850px;
    width: 850px;

    img {
        padding: 100px;
        border-radius: 60%;
        max-width: 100%;
        max-height: 100%;
    }
} */

.main {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    padding: 40px;
    gap: 65px;
    /* background-color: #2e73e1; */
}

.main > .card {
    display: grid;
    grid-template-columns: auto auto; 
    border-style: solid;
    border-color: coral;

    .li1 {
        background: url('https://img.icons8.com/fluency/48/ruby-programming-language.png') 0 50% no-repeat;
        padding-left: 30px;
        background-size: 20px 20px;
        list-style: none;
    }

    .li2 {
        background: url('https://img.icons8.com/color/48/javascript--v1.png') 0 50% no-repeat;
        padding-left: 30px;
        background-size: 20px 20px;
        list-style: none;
    }

    .li3 {
        background: url('https://img.icons8.com/color/48/python--v1.png') 0 50% no-repeat;
        padding-left: 30px;
        background-size: 20px 20px;
        list-style: none;
    }
}


footer .contato {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px 5%;

    img {
        width: 60px;
        height: 60px;
        object-fit: contain;
    }
}
